@import url('https://fonts.googleapis.com/css2?family=Iceberg&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Iceberg&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Iceberg&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import 'header.css';
@import 'footer.css';
/* General styles */
body {
    background-color: rgb(247, 233, 215);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
/* Banner */
.banner {
    position: relative; 
    background:linear-gradient(rgba(1, 1, 15, 0.322), rgba(6, 6, 44, 0.582) ), url("./images/back1.avif");
    background-size: cover;
    background-position: center;
    padding: 100px 0; 
    text-align: center;
    color: #fff;
}
.banner img{
    border: none;
    border-radius: 30%;
    margin-bottom: 30px;
}

.banner h1 {
    font-size: 50px;
    line-height: 20px;
    font-family: iceberg;
    margin-bottom: 20px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}

.banner p {
    font-size: 1.2em;
    line-height: 1.5;
    font-family: Open Sans;
    font-weight: bold;
    
}

.categories{
    margin: 5%;
    margin-left: 15%;
}
.categories h2{
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    font-family: iceberg;
    color:  #FF007F; 
    margin-right: 10%;
    margin-bottom: 5%;

}




  
  
    